body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.right{
	float:right;
	font-style:oblique;
	font-size:14px;	
}

.left{
	float:left;
	font-style:oblique;
	font-size:14px;	
}